//1.0 Content Fonts
@import "https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap"
@import "https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap"

//2.0 Content Vars
font-title = 'Montserrat', sans-serif
font-text = 'Noto Sans', 'Helvetica', Arial, sans-serif
color-title = #39455B
color-text = #333
color-orange-brand = #ffc02c
color-blue-brand = #00ccea
color-red-brand = #ff0028
color-green-brand = #d8e526
color-pink-brand = #ff4d9c
color-purple-brand = #9444b3
facebook-color = #3b5998
twitter-color = #1da1f2

//3.0 Content Functions
isFnTransition(ms)
    transition: all ms linear
    -webkit-transition: all ms linear
    -moz-transition: all ms linear


//4.0 Content Global Styles
body
    background: #fff
    font-family: font-text
    font-size: 14px
    color: #000

    h1, h2, h3, h4, h5
        font-family: font-title
        color: color-title
        font-weight: bold
        margin-bottom: 20px
    
    h1
        font-size: 34px
    h2
        font-size: 28px
    h3
        font-size: 24px
    h4
        font-size: 20px
    h5
        font-size: 16px
    
    p
        font-family: 14px
        color: #000
    
    p.is-pr-medium
        font-size: 16px
        line-height: 24px
        margin-bottom: 15px

    p.is-pr-big
        font-size: 18px !important
        line-height: 28px !important
        margin-bottom: 20px

    .is-simple-link
        color: #000
        font-weight: bold
        font-size: 13px
        isFnTransition(0.3s)

        i
            margin-left: 5px
        
        &:hover
            color: color-purple-brand

    .is-img-small,
    .is-img-medium,
    .is-img-big,
    .is-img-full
        display: block

    .is-img-small
        max-width: 25%
    .is-img-mediumsmall
        max-width: 40%
    .is-img-medium
        max-width: 50%
    .is-img-big
        max-width: 75%
    .is-img-full
        max-width: 100%
    .is-img-centered
        margin: 0 auto
    .is-img-spaced
        margin: 30px auto

    .col-top-0
        margin-top: 0px !important;

    form
        fieldset.is-vr
            width: fit-content
            float left
            margin-right: 10px
        fieldset.f-md
            float left
            width: 50% !important
            padding: 0px 5px !important
        fieldset 
            padding: 0
            box-sizing: border-box
            margin: 0
            margin-bottom: 20px

            label   
                display: block
                margin-bottom: 3px
                font-size: 13px
                color: #666
                padding-left: 20px
            input,
            select,
            textarea
                box-sizing: border-box
                padding: 10px
                outline: 0
                border-radius: 5px
                width: 100%
                border: 2px solid rgba(0,0,0,0.05)
                color: #000
                font-size: 16px
                resize: none
                isFnTransition(0.3s)

                &:focus
                    border: 2px solid color-blue-brand

            input[type="submit"]
                width: 150px
                cursor: pointer
                background: #3273dc
                color #fff
            
            .is-button
                border: 0
                font-size: 16px
                padding: 15px
                font-weight: bold
                font-family: font-title
                display: block
                cursor: pointer
                background: color-orange-brand
                color: #FFF

                i
                    margin-left: 10px

                &:hover
                    box-shadow: 0 5px 15px rgba(0,0,0,0.3)
    
    .is-view
        margin-top: 50px
    
    .nivoSlider
        .nivo-controlNav
            left: 35%
            right: 35%
            bottom: 5%
            text-align: center

            .nivo-control
                border: 2px solid color-purple-brand
                width: 32px
                height: 10px
            
            .active
                background: color-purple-brand

//5.0 Login
div.login
    .is-background-log
        height 100vh
        background: url('/assets/img/login.jpg')
        background-position: center
        background-size: cover
    .is-con-center
        display: flex
        justify-content: center
        align-items: center
        flex-direction: columns
    #login-form
        width: 80%

.form-filter
    width: 100%;
    overflow: hidden;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
    box-sizing: border-box;
    fieldset.is-r
        float right !important
    fieldset
        width: fit-content
        float left
        margin-right: 10px
        label
            padding-left 5px
        input[type="submit"]
            width: 150px
            cursor: pointer
            background: #3273dc
            color #fff
.is-item
    width: 100%
    overflow: hidden
    box-sizing: border-box
    padding: 10px
    background: #fff
    border solid 1px #e0e0e0
    border-radius: 5px
    transition: 0.3s
    &:hover
        -webkit-box-shadow: 0px 0px 5px 0px rgba(158,158,158,1);
        -moz-box-shadow: 0px 0px 5px 0px rgba(158,158,158,1);
        box-shadow: 0px 0px 5px 0px rgba(158,158,158,1);
    .is-center
        display: flex
        align-items: center
        justify-content: center
    .is-img
        width 30%
        height 100%
        float left
        img
            max-width: 100%
            max-height: 100%
    .is-info.w-img
        max-width: calc(70% - 30px) !important
    .is-info
        float: left
        max-width: calc(100% - 30px)
        display: block;
        box-sizing: border-box
        padding: 0px 5px
        .min-input
            display: inline-block
            width: 70px
            border: solid 1px #fff
    .is-settings
        float: right
        width 30px
        height 100%
        box-sizing: border-box
        padding 0px 5px
        a
            display: block
            margin-bottom: 10px
            text-align: center
.clr
    clear both

.border-red {
    border-color: #ff6d6d !important
}
.border-green {
    border-color: #91ff6d !important
}

//Mobile
@media only screen and (max-width: 768px) {
    .hidden-mobile { display: none; }
    .hf-mobile { height: 100vh; }
    fieldset.is-r { width: 100%; }
}