//1.0 Fonts
//2.0 Vars
//3.0 Functions
//4.0 Global Styles
//5.0 Header
//6.0 Footer
//7.0 Home
//8.0 Service Page
//9.0 Paquetes
//10.0 Canales
//11.0 Promociones
//12.0 Empresarial
//13.0 Contrata/Contacto
//14.0 RESPONSIVE RULES

//1.0 Content Fonts
@import "https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap"
@import "https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap"

//2.0 Content Vars
font-title = 'Montserrat', sans-serif
font-text = 'Noto Sans', 'Helvetica', Arial, sans-serif
color-title = #39455B
color-text = #333
color-orange-brand = #ffc02c
color-blue-brand = #00ccea
color-red-brand = #ff0028
color-green-brand = #d8e526
color-pink-brand = #ff4d9c
color-purple-brand = #9444b3
facebook-color = #3b5998
twitter-color = #1da1f2

//3.0 Content Functions
isFnTransition(ms)
    transition: all ms linear
    -webkit-transition: all ms linear
    -moz-transition: all ms linear


//4.0 Content Global Styles
body
    background: #fff
    font-family: font-text
    font-size: 14px
    color: #000

    h1, h2, h3, h4, h5
        font-family: font-title
        color: color-title
        font-weight: bold
        margin-bottom: 20px
    
    h1
        font-size: 34px
    h2
        font-size: 28px
    h3
        font-size: 24px
    h4
        font-size: 20px
    h5
        font-size: 16px
    
    p
        font-family: 14px
        color: #000
    
    p.is-pr-medium
        font-size: 16px
        line-height: 24px
        margin-bottom: 15px

    p.is-pr-big
        font-size: 18px !important
        line-height: 28px !important
        margin-bottom: 20px

    .is-simple-link
        color: #000
        font-weight: bold
        font-size: 13px
        isFnTransition(0.3s)

        i
            margin-left: 5px
        
        &:hover
            color: color-purple-brand

    .is-img-small,
    .is-img-medium,
    .is-img-big,
    .is-img-full
        display: block

    .is-img-small
        max-width: 25%
    .is-img-mediumsmall
        max-width: 40%
    .is-img-medium
        max-width: 50%
    .is-img-big
        max-width: 75%
    .is-img-full
        max-width: 100%
    .is-img-centered
        margin: 0 auto
    .is-img-spaced
        margin: 30px auto

    form
        fieldset 
            padding: 0
            box-sizing: border-box
            margin: 0
            margin-bottom: 20px

            label   
                display: block
                margin-bottom: 3px
                font-size: 13px
                color: #666
                padding-left: 20px
            input,
            select,
            textarea
                box-sizing: border-box
                padding: 10px
                outline: 0
                border-radius: 5px
                width: 100%
                border: 2px solid rgba(0,0,0,0.05)
                color: #000
                font-size: 16px
                resize: none
                isFnTransition(0.3s)

                &:focus
                    border: 2px solid color-blue-brand
            
            .is-button
                border: 0
                font-size: 16px
                padding: 15px
                font-weight: bold
                font-family: font-title
                display: block
                cursor: pointer
                background: color-orange-brand
                color: #FFF

                i
                    margin-left: 10px

                &:hover
                    box-shadow: 0 5px 15px rgba(0,0,0,0.3)
    
    .is-view
        margin-top: 50px
    
    .nivoSlider
        .nivo-controlNav
            left: 35%
            right: 35%
            bottom: 5%
            text-align: center

            .nivo-control
                border: 2px solid color-purple-brand
                width: 32px
                height: 10px
            
            .active
                background: color-purple-brand

//5.0 Content Header
.is-header
    background: color-title
    padding: 10px 0

    #btn-menu
        position: absolute;
        top: 12px;
        right: 30px;
        color: #fff;
        font-size: 20px;
        display: none;
        overflow: hidden;

    .is-menu
        text-align: right 

        .sub-menu-phone
            display: none;

        ul
            line-height: 70px

            li
                display: inline-block
                margin-left: 5px

                a
                    color: #FFF
                    font-weight: bold
                    font-size: 16px  
                    padding: 10px 15px
                    border-radius: 5px 
                    isFnTransition(0.3s)

                a.is-blue
                    color: color-blue-brand

                    &:hover
                        background: color-blue-brand
                        color: #fff
                
                a.is-orange:hover,
                a.is-orange-active
                    color: color-orange-brand
                a.is-green:hover,
                a.is-green-active
                    color: color-green-brand
                a.is-purple:hover,
                a.is-purple-active
                    color: color-purple-brand
                a.is-red:hover,
                a.is-red-active
                    color: color-red-brand
                a.is-pink:hover,
                a.is-pink-active
                    color: color-pink-brand

.is-sub-header
    background: #FFF
    box-shadow: 0 5px 15px rgba(0,0,0,0.1)
    padding: 10px 0
    text-align: right 

    .is-phone
        font-size: 24px
        font-weight: bold
        color: #000
        margin-left: 25px

        i
            margin-right: 10px
            font-size: 18px
    
    .is-social
        font-size: 22px
        margin: 0 5px
    
    .is-facebook
        color: facebook-color
    .is-twitter
        color: twitter-color
    
    .is-link
        margin-right: 25px
        font-weight: bold
        font-family: font-title
        font-size: 16px
        color: #999
        isFnTransition(0.3s)

        i
            margin-right: 5px

    .is-orange 
        i
            color: color-orange-brand
        
        &:hover
            color: color-orange-brand

    .is-green 
        i
            color: color-green-brand
        &:hover
            color: color-green-brand
    .is-blue 
        i
            color: color-blue-brand
        &:hover
            color: color-blue-brand

//6.0 Content Footer
.is-footer
    background: url('/assets/img/footer-bg.png'), color-title no-repeat center center
    background-position: fixed
    background-attachment: cover

    .is-newsletter
        padding: 50px 0 30px 0
        margin-bottom: 30px
        background: rgba(0,0,0,0.1)
        border-bottom: 1px solid rgba(255,255,255,0.1)

        p
            font-size: 16px
            color: color-orange-brand
        
        strong 
            font-size: 20px
            color: #FFF
        
        input
            float: right
            padding: 15px
            width: 60%
            font-size: 16px
            font-weight: bold
            outline: 0
            border: 0
            border-radius: 5px 0 0 5px
            text-align: center
        
        input[type="button"]
            width: 30%
            background: color-orange-brand
            color: #FFF
            font-family: font-title
            font-size: 18px
            border-radius: 0 5px 5px 0
            cursor: pointer
            padding: 15px 15px 14px 15px
        
        .is-contact
            margin-top: 15px
            text-align: right 

            a
                color: #FFF
                font-size: 16px

                i
                    margin-right: 10px
            
            .is-email,
            .is-phone
                margin-right: 40px
            
            .is-social
                font-size: 20px
                isFnTransition(0.3s)
            .is-facebook:hover
                color: facebook-color
            .is-twitter:hover
                color: twitter-color

    .is-nav
        text-align: center

        li
            display: inline-block
            margin: 0 15px

            a
                color: color-orange-brand
                font-weight: bold
                font-size: 16px

                &:hover
                    text-decoration: underline
    
    .is-cities 
        ul
            text-align: center

            li
                float: left
                width: 20%
                font-size: 16px
                font-weight: bold
                margin-bottom: 10px

                a
                    color: #FFF
                    isFnTransition(0.3s)

                    &:hover
                        color: color-green-brand
    

//7.0 Content Home
div.dv-center-content
    display: flex
    align-items: center
    justify-content: center
.bdr-1
    border-radius: 15px
.dpy-inl
    display: inline !important
.is-title-home
    span.cl-p
        color: #00ccea
    span.cl-l
        color: #d8e526
    span.cl-a
        color: #ffc02c
    span.cl-y
        color: #ff0028
h1.h-mb-0,
h2.h-mb-0,
h3.h-mb-0,
h4.h-mb-0,
h5.h-mb-0
    margin-bottom: 0px
.is-view-home,
.is-view-empresa
    .is-comp-slider
        position: relative
        height: auto
        overflow: hidden

        .is-mask
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            background: rgba(0,0,0,0.4)
            z-index: 9000
        
        .is-content
            position: absolute
            top: 15%
            left: 0
            right: 0
            height 100%
            z-index: 9100

            .is-banners
                position: relative
                background: #CCC
                width: 100%
                min-height: 450px
            
            .is-contact
                background: #FFF
                border-radius: 5px
                box-sizing: border-box
                padding: 20px

                span
                    display: block
                    text-align: center
                    font-weight: bold
                    font-size: 24px

                    strong 
                        color: color-purple-brand

                span:first-of-type
                    color: color-green-brand
                
                form
                    margin-top: 15px
                    padding-top: 15px 
                    border-top: 2px solid color-purple-brand

                    fieldset 
                        margin-bottom: 0

                    strong 
                        display: block
                        text-align: center
                        margin-bottom: 15px
                        color: #000
                        width: 100%
    
    .is-comp-slider-empresa
        height: auto

        .is-content
            .is-contact
                span
                    strong 
                        color: color-red-brand
                
                span:first-of-type
                    color: color-red-brand
                
                form
                    border-top: 2px solid color-red-brand

                    fieldset 
                        margin-bottom: 0

                    strong
                        display: block
                        text-align: center
                        width: 100%

                    .is-button
                        background: color-red-brand

    .is-services
        position: relative
        margin-top: -75px
        z-index: 9200
        margin-bottom: 50px

        h2, h3
            color: #000

            a
                color: inherit

                &:hover
                    text-decoration: underline

        .is-item
            background: #f4f2e9
            box-sizing: border-box
            padding: 20px
            border-right: 1px solid rgba(0,0,0,0.1)
            min-height: 325px

            i
                font-size: 20px
                display: block
                margin-bottom: 10px
                color: color-purple-brand
            
            p
                display: block
                margin-bottom: 20px
            
            a
                i
                    font-size: 13px
                    display: inline-block
        
        .column:last-of-type
            .is-item
                border-right: 0
    
    .is-overview
        margin-top: 100px

        p
            font-size: 16px
            line-height: 24px
            color: #999999
            margin-bottom: 30px

            span
                color: color-purple-brand
                font-weight: bold
    
    .is-addons
        background: #f4f2e9
        margin-top: 100px
        padding: 50px 0

        h3
            margin-bottom: 10px

            a
                color: inherit

                &:hover
                    text-decoration: underline
        
        img 
            display: block
            margin: 0 auto 20px
        
        p
            margin-bottom: 15px
    
    .is-cities
        background: rgba(255,192,44,0.3)
        padding: 50px 0
        color: #000

        p
            font-size: 16px
            line-height: 24px
            margin-bottom: 30px
        
        ul
            margin-top: 50px

            li
                float: left
                width: 25%
                margin-bottom: 15px

                a
                    color: color-title
                    font-weight: bold
                    font-size: 16px
                    isFnTransition(0.3s)

                    img 
                        float: left
                        width: 20px
                        margin-right: 10px
                    
                    &:hover
                        color: color-purple-brand

//8.0 Content Services Page
.is-view-service
    .is-overview
        margin-bottom: 50px

        p
            font-size: 16px
            line-height: 24px
            margin-bottom: 20px

        .is-item
            float: left
            width: 50%
            margin-top: 15px
            font-size: 16px
            box-sizing: border-box
            padding-right: 20px

            i
                font-size: 16px
                margin-right: 5px
            
            p
                font-size: 14px
                margin-top: 10px

        .is-item-internet
            i
                color: color-orange-brand
        .is-item-tv
            i
                color: color-green-brand
        .is-item-phone
            i
                color: color-blue-brand
    
    .is-row-service
        background: rgba(0,0,0,0.05)
        padding: 50px 0

        h2
            font-size: 20px

        p
            font-size: 16px
            line-height: 24px

        .is-item
            i
                margin-right: 15px

        .is-item-internet
            i
                color: color-orange-brand
        .is-item-tv
            i
                color: color-green-brand
        .is-item-phone
            i
                color: color-blue-brand

//9.0 Content Packages
.is-flex-div
    display: flex
.is-view-packages
    h1
        display: block
        text-align: center
        margin-bottom: 50px
    
    .is-custom-switch
        margin: 0 auto 30px
        width: 400px

        span,
        small,
        h2.button-pkg
            float: left
            text-align: center
            padding: 15px
            cursor: pointer
            box-sizing: border-box
            font-size: 18px
            background: rgba(0,0,0,0.05)
            color: #000

        span,
        h2.button-pkg
            width: 40%
            font-weight: bold
        
        span.is-selected,
        h2.button-pkg.is-selected
            background: color-orange-brand
            color: #FFF

        small 
            width: 20%
            background: rgba(0,0,0,0.05)
            border-left: 1px solid rgba(0,0,0,0.1)
            border-right: 1px solid rgba(0,0,0,0.1)
    
    .is-text
        text-align: center
        font-weight: bold
        color: #999
    
    .is-packages
        margin-top: 50px
        margin-bottom: 50px

        .is-item
            border: 1px solid rgba(0,0,0,0.1)

            a.btn-paquete
                display: block;
                width: 50%;
                margin: auto;
                text-align: center;
                box-sizing: border-box;
                padding: 5px;
                color: #fff;
                border: solid 1px #fff;
                margin-bottom: 15px;
                transition: 0.3s
                &:hover
                    background: #e2ac2c;
            
            .is-title
                padding: 20px
                text-align: center
                font-weight: bold

                strong 
                    font-weight: normal

                strong,
                span
                    display: block
                    color: #FFF
                    font-size: 20px
                
                span
                    font-size: 32px
                    font-weight: bold

                    small 
                        margin-left: 5px
            
            .is-complements
                span
                    display: block
                    margin: auto
                    float: left
                    width: 50%
                    text-align: center
                    padding: 15px 0

                    i
                        font-size: 16px
                        display: block
                        margin-bottom: 10px
                        color: color-green-brand
                    
                    small 
                        display: block
                        font-size: 16px
                        color: #000

                    .is-tag
                        width: 35px
                        font-size: 10px
                        padding: 3px
                        border: 2px solid #999
                        color: #999
                        margin: 0 auto
            
            .is-discount
                background: rgba(0,0,0,0.05)
                padding: 20px

                strong,
                span
                    display: block
                    text-align: center
                    font-size: 18px
                
                strong  
                    font-size: 22px
            
            .is-total
                background: color-orange-brand
                padding: 20px 0
                color: #ffffff

                span,
                strong,
                small 
                    display: block
                    text-align: center
                    font-size: 16px

                strong 
                    margin-bottom: 15px
                    font-size: 26px
                
                small 
                    font-size: 12px

        .is-default
            .is-title
                background: color-purple-brand
            .is-discount
                strong 
                    color: color-purple-brand

        .is-blue
            .is-title
                background: color-blue-brand
            .is-discount
                strong
                    color: color-blue-brand
        
        .is-pink
            .is-title
                background: color-pink-brand
            .is-discount
                strong
                    color: color-pink-brand

//10.0 Content Canales
.is-view-channels
    .is-tabs
        margin-bottom: 30px

        a
            float: left
            font-weight: bold
            font-size: 18px
            color: color-title
            padding: 10px 20px
            background: rgba(0,0,0,0.03)
            border: 1px solid rgba(0,0,0,0.05)
            isFnTransition(0.3s)

            img 
                width: 20px
                margin-right: 5px

        a:hover
            background: color-green-brand
            color: #FFF
        a.is-selected
            color: #ffffff
            background: color-orange-brand
    
    .is-tabs-content
        margin-bottom: 50px

//11.0 Content Empresarial
.is-view-empresa
    .is-addons
        background: #ff0028
        
        h3, h2
            color: color-green-brand
        
        p
            color: #FFF

//12.0 Content Promociones
.is-view-deals,
.is-view-channels
    h1
        display: block
        margin-bottom: 50px
    
    .is-row-deal
        margin-bottom: 30px

        h3
            color: color-purple-brand
            margin-bottom: 0
            text-transform: uppercase
            font-size: 18px

        h2
            color: color-pink-brand
            font-size: 24px
        
        p
            font-size: 14px
            color: #999
    
    aside
        margin-top: 100px

        .is-contact
            box-sizing: border-box
            padding: 20px
            box-shadow: 0 5px 10px rgba(0,0,0,0.05)
            border: 1px solid rgba(0,0,0,0.07)
            border-radius: 5px

            span
                display: block
                text-align: center
                font-weight: bold
                font-size: 24px

                strong 
                    color: color-purple-brand

            span:first-of-type
                color: color-green-brand
                
            form
                margin-top: 15px
                padding-top: 15px 
                border-top: 2px solid color-purple-brand

                fieldset 
                    margin-bottom: 0

                strong 
                    display: block
                    text-align: center
                    margin-bottom: 15px
                    color: #000

//13.0 Content Contacto/Contrata
form#simple-contact
    input
        font-size: 13px !important

input#cp-cnt-medio-other
    margin-top: 5px
    display: none
    transition: 0.5s

.is-view-contact
    iframe 
        height: 500px
        margin-top: 50px

    form
        fieldset 
            margin-bottom: 0

            label 
                padding-left: 10px
                font-size: 16px

            .is-button
                width: 300px

    .is-item-contact
        font-size: 16px
        box-sizing: border-box
        padding: 10px 30px
        border-left: 2px solid color-purple-brand
        margin-top: 30px

        span,
        strong
            display: block

        span
            color: #999999

        strong
            color: #000 

//14.0 Cobertura content
.is-view-cobertura
    iframe
        width: 100%
        height: 700px

    #MailLogo
        display: none !important

//RESPONSIVE RULES
//Widescreen
@media only screen and (min-width: 1216px) and (max-width: 1407px) { }
//Desktop
@media only screen and (min-width: 1024px) and (max-width: 1215px) {
    header.is-header .is-brand { display: flex; align-items: center; justify-content: center; width: 25%; }
    header.is-header .is-menu { width: 75%; }
    .is-sub-header .column { margin-left: 0px; }
    .is-sub-header .is-phone { font-size: 20px; }

    footer.is-footer .container { width: 1050px !important; max-width: unset !important; }

    .is-view-home .is-services { margin-top: 20px; }
    .is-view-home .is-content { top: 5% !important; width: 100%; }
    .is-view-home .is-content .column { padding: 0px 5px; }
}
//Tablet
@media only screen and (min-width: 769px) and (max-width: 1023px) {
    header.is-header .is-brand { display: flex; align-items: center; justify-content: center; width: 20%; }
    header.is-header .is-menu { width: 80%; }
    header.is-header .is-menu ul li a { font-size: 12px; }
    .is-sub-header .column { margin-left: 0px; }
    .is-sub-header .is-phone { font-size: 20px; }
    .is-sub-header a { font-size: 13px !important; }

    footer.is-footer { overflow: hidden; }
    footer.is-footer .container { box-sizing: border-box; padding: 0px 10px; text-align: center; }

    .is-view-home .is-services { margin-top: 20px; }
    .is-view-home .is-content { top: 5% !important; width: 100%; }
    .is-view-home .is-content .is-banners { height: auto !important; min-height: unset !important; }
    .is-view-home .is-content .is-banners .nivo-caption { display: none !important; }
    .is-view-home .is-content .column { padding: 0px 5px; }
    
    .is-view-empresa { text-align: center; }
    .is-view-empresa .is-content { top: 10px !important; }
    .is-view-empresa .is-content .is-contact span { font-size: 15px !important; }
    .is-view-empresa .is-content .is-contact .is-button { border-radius: 0px !important; }
    .is-view-empresa .is-content .is-contact { padding: 3px !important; overflow hidden; border-radius: 0px !important; }
    .is-view-empresa h2 { font-size: 20px; }
}
//Mobile
@media only screen and (max-width: 768px) {
    body.body { text-align: center; }

    header.is-header .is-brand { display: flex; align-items: center; justify-content: center; width: 60%; }
    header.is-header .is-menu { width: 100%; padding: 0px; overflow: hidden; transition: 0.5s; }
    header.is-header .is-menu .sub-menu-phone { display: block; }
    header.is-header .is-menu ul { line-height: 50px; }
    header.is-header .is-menu ul li { display: block; width: 100%; text-align: center; margin: 0px; }
    header.is-header .is-menu ul li a { display: block; width: 100%; padding: 0px; }
    header.is-header .is-menu .sub-menu-phone li a.is-blue { color: color-blue-brand }
    header.is-header .is-menu .sub-menu-phone li a.is-green { color: color-green-brand }
    header.is-header .is-menu .sub-menu-phone li a.is-orange { color: color-orange-brand }
    header.is-header .is-menu.hidden { height: 0px; }
    header.is-header .is-menu.show { height: 450px; }
    header.is-header #btn-menu { display: block; }
    .is-sub-header { display: none; }

    footer.is-footer { text-align: center; }
    footer.is-footer .is-sub-form { display: flex; align-items: center; justify-content: center; flex-direction: row-reverse; }
    footer.is-footer .is-contact { display: flex; align-items: center; justify-content: center; flex-direction: column; }
    footer.is-footer ul.column li { width: 50%; margin: 7px 0px; float: left; }
    footer.is-footer .is-cities ul li { width: 100%; margin: 7px 0px; float: left; }

    .is-view-home .is-services { margin-top: 40px; z-index 50; }
    .is-view-home .is-mask, .is-view-home #is-comp-slider { display: none; }
    .is-view-home .is-content { position: relative !important; display: block !important; top: 0px !important; width: 100%; }
    .is-view-home .is-content .is-banners { height: auto !important; min-height: unset !important; }
    .is-view-home .is-content .is-banners .nivo-caption { display: none !important; }
    .is-view-home .is-cities { display: none; }

    .is-view-empresa .is-content { position: relative !important; top: 0px !important; }

    .is-button { margin: auto; }

    .is-view-packages .is-custom-switch { width: 100%; }
    .is-view-packages .is-custom-switch h2 { font-size: 15px !important; }

    .is-view-channels .is-tabs a { width: 100% !important; }
}